body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.8em;
}

header {
    color: white;
    background-color: #0D1B2E;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 50px;
    font-size: 2.2em;
}

.info-msg {
    color: white;
    background-color: #429890;
    padding: 2em;
}

p {
    max-width: 550px;
    margin: 0 auto;
    font-size: 1.2em;
}

.test-result-area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.test-area {
    width: 70%;
    padding: 0 2em;
}

.display-result {
    width: 30%;
    text-align: center;
    margin-right: 2em;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    background-color: #429890;
    border: solid;
    border-radius: 10px;
    box-shadow: -0.5px -0.5px 0px rgba(110, 107, 107, 0.7);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.display-result div {
    padding: 1em;
}

.display-result #errors-count {
    color: green;
}

#select-para {
    display: block;
    padding: 0.5em;
    margin: 1em auto;
    border: 2px solid grey;
}

.original-text, .test-wrapper, .meta {
    max-width: 550px;
    margin: 1em auto;
}

.original-text {
    background-color: #ededed;
    padding: 1em;
}

.test-wrapper {
    display: flex;
    border: 10px solid grey;
    border-radius: 10px;
}

.test-wrapper textarea, #timer {
    line-height: 1.5;
}

.test-wrapper textarea {
    flex: 1;
    font-size: 1.2em;
}

#timer {
    display: inline;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.5;
    padding-left: 0.5em;
}

#reset {
    padding: 0.5em 1em;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5;
    color: #E95D0F;
    background-color: white;
    border: 10px solid #E95D0F;
    border-radius: 10px;
}